@{
    ViewBag.Title = "Home Page";
}

<br /><br />
<!---->
<section style="height: 85vh;" id="welcome-sect">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/assets/mainpageimg.jpeg" width="100%" alt="image-welcome" />
        </div>
        <div class="col-sm-6 aligned-center">

            <div style="position:absolute; top:20%;">
                <h1 style="font-weight: bold;">Welcome</h1>
                <h4 style="color: #6ab32e;">Nutrition for life, for everyone.</h4>
                <a href="/Store/Store" class="mvbuttongreen">VIEW MORE</a>
            </div> 
            
        </div>
    </div>
</section>

<br />
<!--About us section-->
<section style="height: 70vh;" id="about-sect">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/assets/AloeMax.jpeg" width="100%" alt="image-about" />
        </div>
        <div class="col-sm-6  aligned-center">

            <div style="position:absolute; top: 5%; padding: 20px;">
                <h1 style="font-weight: bold;">About us</h1>
                <h4 style="color: #6ab32e;">Something to learn about us</h4>
                <p style="font-size: 16px;">
                    Herbalife Nutrition Ltd.,<span style="color: #6ab32e;">
                        also called Herbalife International,
                        Inc. or simply Herbalife, is a global multi-level marketing corporation that develops and
                        sells dietary supplements. The company was founded by Mark R. Hughes in 1980,
                        and it employs an estimated 9,900 people worldwide.<br />
                        We are a south African based Herbalife distributer based in Pretoria Mooikloof.
                        We value our customers and their support, and thus always thrive to ensure we deliver 
                        the best quality in our products.
                    </span>
                </p>
                <a href="/Store/Store" class="mvbuttongreen">START SHOPPING &nbsp;<i class="fa fa-shopping-cart"></i></a>
            </div>
        </div>
    </div>
</section>
