
@{
    ViewBag.Title = "SuccessfullOrder";
}

<style >
    body{
        padding-top: 5px;
    }
</style>
<div class="container">
    <div class="col-sm-12">
        <div class="text-center">
            <br />

            <div class="card center" style="width: 100%; margin: auto;">
                <div class="card-body" style="margin: auto;">
                    <h3>Order Successful</h3>
                    <p style="color: #6ab32e; font-size: 60px;">
                        <i class="fa fa-check-circle"></i><br />
                        <img src="~/assets/truckDelivered.gif" alt="visaMastercasr" width="100px" />
                    </p>
                        <p>
                            Your order is being proccessed. 
                            A confirmation email with your order number and tracking details will be sent to you. 
                            Thank you for shopping at <br /><br /><span style="font-weight: bold">MVUYELWA<span style="color: #6ab32e">FITNESS</span></span>
                        </p>
                    <br />
                </div>
            </div>

            <br />
            <a href="/Home/Index">Go to home</a >

            <h6>Redirecting to home page in... <span id="countdown">30</span></h6>
            <div class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<script>
    var count = document.getElementById("countdown");
    var topnav = document.getElementById("topnav-mvfitness");
    topnav.style.visibility = "hidden";
    document.getElementById("menu-btn-open").style.display = "none";

    let counter = parseFloat(count.innerHTML);
    function countDown() {
        counter--; // Increment the counter
        count.innerHTML = counter;
        if (counter === 30) {
            clearInterval(intervalId); // Clear the interval after 10 times
        }
    }
    // Call myFunction every second
    const intervalId = setInterval(countDown, 1000);

    setTimeout(function () {
        window.location.href = "/Home/Index";
    }, 30000);

    var logedinEmail = localStorage.getItem("userEmail");

    function sendConfirmation(){

    }
</script>
